.pre {
  border-radius: 0.25rem;
  border: 1px solid #cfd8dc;
  padding: 1.5rem;
  background-color: #f8f9fa;
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 90%;
  color: #1b2734;
}
