<div class="main-header mt-4 mb-3 clearfix">
  <div class="row align-items-end justify-content-md-center">
    <div class="col-md-3">
      <h6 class="text-muted text-uppercase text-90 font-weight-bold mb-3 mt-1">Signatures</h6>
      <h5 class="text-dark float-left mb-0">{{ activeModule?.name }}</h5>
    </div>
    <div class="col-md-6">
      <app-ctx-search
        [tcxType]="'signatures'"
        [searchText]="searchText"
        [showSaveSearchButton]="showSaveSearchButton"
        (searchEvent)="search()"
        (clearSearchTermEvent)="onClearSearchTerm()"
        (openModalDorksEvent)="onOpenModalDorks($event)"
        (searchTextChangeEvent)="onSetSearchTerm($event)"
      ></app-ctx-search>
      <div *ngIf="listError" class="text-danger">{{ listError }}</div>
      <app-tcx-quick-filters
        [tcxType]="'signatures'"
        [items]="quickFilters"
        (changeMethod)="onChangeQuickFilter($event)"
      ></app-tcx-quick-filters>
    </div>
    <div class="col-md-3">
      <app-info-button [activeModule]="activeModule"></app-info-button>
    </div>
  </div>
</div>

<!-- FILTERS -->
<div class="card shadow-sm mb-4">
  <div class="d-flex align-items-center justify-content-between rounded-top bg-light p-2 mx-0 fixed-scroll">
    <div class="d-flex align-items-center">
      <div class="pr-3 border-right mr-3">
        <div class="button-action" ngbDropdown>
          <button
            ngbDropdownToggle
            [disabled]="!hasSomeChecked()"
            class="btn btn-light btn-sm border px-2 float-left btn-actions"
            [ngClass]="{ pulse: hasSomeChecked() }"
            type="button"
            id="actionsButtonDropdown"
            name="button"
          >
            <i class="icon-ellipsis-v px-1"></i>
          </button>
          <div ngbDropdownMenu class="actions-dropdown-menu">
            <ul aria-labelledby="actionsButtonDropdown" class="list-group actions-menu shadow border rounded">
              <li
                class="list-group-item list-group-item-action cursor-pointer border-0 px-3 py-2"
                (click)="exportToCSV()"
              >
                <i class="icon-share-square mr-2"></i>
                <span>Export to CSV</span>
              </li>
              <li
                class="list-group-item list-group-item-action cursor-pointer border-0 px-3 py-2"
                (click)="exportToJson()"
              >
                <i class="icon-share-square mr-2"></i>
                <span>Export to JSON</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <h6 class="d-flex align-items-center margin-0">
        <span>Signatures showing:</span>
        <span *ngIf="!loading" class="badge badge-pill badge-primary ml-2">{{ totalResources | number }} results</span>
        <i class="icon-spinner rotate text-primary ml-2" *ngIf="loading"></i>
      </h6>
    </div>

    <div style="flex: 1 1 0">
      <div class="float-right" *ngIf="items?.length > 0">
        <app-select
          [items]="limits"
          [model]="limit"
          [icon]="'icon-format_list_bulleted'"
          [placement]="'bottom-right'"
          id="limitDropdown"
          (onChange)="onChangeLimit($event)"
        >
        </app-select>
      </div>
    </div>
  </div>

  <!--    TABLE-->
  <div>
    <app-table [items]="items" [loading]="loading" class="table-fixed table--sticky table--sticky-fixed-scroll">
      <thead>
        <tr>
          <th class="text-center td-30">
            <input type="checkbox" [(ngModel)]="bulk" (click)="setCheckedState($event)" />
          </th>
          <th>
            <span class="d-flex align-items-center">
              Name
              <i
                *ngIf="sort !== 'name' && sort !== '-name'"
                class="icon-sort ml-1 cursor-pointer"
                (click)="sortBy('name')"
              ></i>
              <i *ngIf="sort === 'name'" class="icon-sort-asc ml-1 cursor-pointer" (click)="sortBy('-name')"></i>
              <i *ngIf="sort === '-name'" class="icon-sort-desc ml-1 cursor-pointer" (click)="sortBy('name')"></i>
            </span>
          </th>
          <th class="text-center app-th-type">
            <span class="d-flex align-items-center justify-content-center">
              Type
              <i
                *ngIf="sort !== 'type' && sort !== '-type'"
                class="icon-sort ml-1 cursor-pointer"
                (click)="sortBy('type')"
              ></i>
              <i *ngIf="sort === 'type'" class="icon-sort-asc ml-1 cursor-pointer" (click)="sortBy('-type')"></i>
              <i *ngIf="sort === '-type'" class="icon-sort-desc ml-1 cursor-pointer" (click)="sortBy('type')"></i>
            </span>
          </th>
          <th class="text-center app-th-date">SID</th>
          <th class="text-center app-th-date">
            <span class="d-flex align-items-center justify-content-center">
              Date
              <i
                *ngIf="sort !== 'created_at' && sort !== '-created_at'"
                class="icon-sort ml-1 cursor-pointer"
                (click)="sortBy('created_at')"
              ></i>
              <i
                *ngIf="sort === 'created_at'"
                class="icon-sort-asc ml-1 cursor-pointer"
                (click)="sortBy('-created_at')"
              ></i>
              <i
                *ngIf="sort === '-created_at'"
                class="icon-sort-desc ml-1 cursor-pointer"
                (click)="sortBy('created_at')"
              ></i>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items; let index = index" class="cursor-pointer" (click)="details($event, item)">
          <td class="text-center td-40 vertical-middle cursor-default" (click)="$event.stopImmediatePropagation()">
            <input type="checkbox" class="cursor-pointer" [(ngModel)]="item.fxSelected" (click)="setChecked()" />
          </td>
          <td class="align-middle">
            {{ item.name }}
          </td>
          <td class="align-middle text-center">
            {{ item.type }}
          </td>
          <td class="align-middle text-center">
            {{ item.sid || '-' }}
          </td>
          <td class="align-middle text-center">
            {{ item.created_at | date: 'dd/MM/yyyy' }}
          </td>
        </tr>
      </tbody>
    </app-table>
  </div>
</div>

<div class="float-left mt-3 mb-4">
  <app-pagination-x [page]="page" [count]="count" [pageSize]="limit" (pageChange)="onPageChange($event)">
  </app-pagination-x>
</div>

<modal-window
  modalTitle="Advanced Search: Available Dorks"
  dorksThreathContext="dorksThreathContext"
  dorksThreathContextType="signatures"
  (changeDork)="setDork($event)"
  *ngIf="openModalDorks"
  [customClass]="'modal-xl'"
  [dorkFields]="dorkFields"
  cancelBtn="Close"
  [closeBtn]="true"
  (cancel)="openModalDorks = false"
>
</modal-window>
