<div class="main-header mt-4 mb-3 clearfix">
  <div class="row align-items-end justify-content-md-center">
    <div class="col-md-3">
      <h6 class="text-muted text-uppercase text-90 font-weight-bold mb-3 mt-1">Actors</h6>
      <h5 class="text-dark float-left mb-0">{{ activeModule?.name }}</h5>
    </div>
    <div class="col-md-6">
      <app-ctx-search
        [tcxType]="'actors'"
        [searchText]="searchText"
        [showSaveSearchButton]="showSaveSearchButton"
        (searchEvent)="search()"
        (clearSearchTermEvent)="onClearSearchTerm()"
        (openModalDorksEvent)="onOpenModalDorks($event)"
        (searchTextChangeEvent)="onSetSearchTerm($event)"
      ></app-ctx-search>
      <div *ngIf="listError" class="text-danger">{{ listError }}</div>
      <app-tcx-quick-filters
        [tcxType]="'actors'"
        [items]="quickFilters"
        (changeMethod)="onChangeQuickFilter($event)"
      ></app-tcx-quick-filters>
    </div>
    <div class="col-md-3 buttons-container">
      <div style="margin-bottom: 9px">
        <app-info-button [activeModule]="activeModule"></app-info-button>
      </div>

      <div class="d-flex justify-content-end" style="margin-bottom: -2px">
        <button
          [disabled]="loading || items.length === 0 || listError"
          class="btn btn-light btn-sm border text-primary float-right px-3 mr-3"
          (click)="openAttackNavigatorModal()"
        >
          <i class="icon-view_comfy mr-1" aria-hidden="true"></i>ATT&CK® Matrix
        </button>
        <app-threat-actors-report
          *ngIf="!grants?.isCustomer()"
          [dorkSearch]="searchText"
          [hasResults]="items?.length > 0"
        ></app-threat-actors-report>
      </div>
    </div>
  </div>
</div>

<!-- FILTERS -->
<div class="card shadow-sm mb-2">
  <div class="d-flex align-items-center justify-content-between rounded-top bg-light p-2 mx-0 fixed-scroll">
    <div class="d-flex align-items-center">
      <div class="pr-3 border-right mr-3">
        <div class="button-action" ngbDropdown>
          <button
            ngbDropdownToggle
            [disabled]="!hasSomeChecked()"
            class="btn btn-light btn-sm border px-2 float-left btn-actions"
            [ngClass]="{ pulse: hasSomeChecked() }"
            type="button"
            id="actionsButtonDropdown"
            name="button"
          >
            <i class="icon-ellipsis-v px-1"></i>
          </button>
          <div ngbDropdownMenu class="actions-dropdown-menu">
            <ul aria-labelledby="actionsButtonDropdown" class="list-group actions-menu shadow border rounded">
              <li
                class="list-group-item list-group-item-action cursor-pointer border-0 px-3 py-2"
                (click)="exportToCSV()"
              >
                <i class="icon-share-square mr-2"></i>
                <span>Export to CSV</span>
              </li>
              <li
                class="list-group-item list-group-item-action cursor-pointer border-0 px-3 py-2"
                (click)="exportToJson()"
              >
                <i class="icon-share-square mr-2"></i>
                <span>Export to JSON</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <h6 class="d-flex align-items-center margin-0">
        <span>Actors showing:</span>
        <span *ngIf="!loading" class="badge badge-pill badge-primary ml-2">{{ totalResources | number }} results</span>
        <i class="icon-spinner rotate text-primary ml-2" *ngIf="loading"></i>
      </h6>
    </div>

    <div style="flex: 1 1 0">
      <div class="float-right" *ngIf="items?.length > 0">
        <app-select
          [items]="limits"
          [model]="limit"
          [icon]="'icon-format_list_bulleted'"
          [placement]="'bottom-right'"
          id="limitDropdown"
          (onChange)="onChangeLimit($event)"
        >
        </app-select>
      </div>
    </div>
  </div>

  <!--    TABLE-->
  <div>
    <app-table [items]="items" [loading]="loading" class="table-fixed table--sticky table--sticky-fixed-scroll">
      <thead>
        <tr>
          <th class="text-center td-30">
            <input type="checkbox" [(ngModel)]="bulk" (click)="setCheckedState($event)" />
          </th>
          <th>
            <span class="d-flex align-items-center">
              Name
              <i
                *ngIf="sort !== 'name' && sort !== '-name'"
                class="icon-sort ml-1 cursor-pointer"
                (click)="sortBy('name')"
              ></i>
              <i *ngIf="sort === 'name'" class="icon-sort-asc ml-1 cursor-pointer" (click)="sortBy('-name')"></i>
              <i *ngIf="sort === '-name'" class="icon-sort-desc ml-1 cursor-pointer" (click)="sortBy('last_seen')"></i>
            </span>
          </th>
          <th>Aliases</th>
          <th class="text-center">Sophistication</th>
          <th class="text-center" style="width: 6%">TLP</th>
          <th class="text-center td-75" style="width: 9%">Active</th>
          <th class="text-center" style="width: 15%">
            <span class="d-flex align-items-center justify-content-center">
              First Seen
              <i
                *ngIf="sort !== 'first_seen' && sort !== '-first_seen'"
                class="icon-sort ml-1 cursor-pointer"
                (click)="sortBy('first_seen')"
              ></i>
              <i
                *ngIf="sort === 'first_seen'"
                class="icon-sort-asc ml-1 cursor-pointer"
                (click)="sortBy('-first_seen')"
              ></i>
              <i
                *ngIf="sort === '-first_seen'"
                class="icon-sort-desc ml-1 cursor-pointer"
                (click)="sortBy('last_seen')"
              ></i>
            </span>
          </th>
          <th class="text-center" style="width: 15%">
            <span class="d-flex align-items-center justify-content-center">
              Last Seen
              <i
                *ngIf="sort !== 'last_seen' && sort !== '-last_seen'"
                class="icon-sort ml-1 cursor-pointer"
                (click)="sortBy('last_seen')"
              ></i>
              <i
                *ngIf="sort === 'last_seen'"
                class="icon-sort-asc ml-1 cursor-pointer"
                (click)="sortBy('-last_seen')"
              ></i>
              <i
                *ngIf="sort === '-last_seen'"
                class="icon-sort-desc ml-1 cursor-pointer"
                (click)="sortBy('last_seen')"
              ></i>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items; let index = index" class="cursor-pointer" (click)="openDetails($event, item.id)">
          <td class="text-center td-40 vertical-middle cursor-default" (click)="$event.stopImmediatePropagation()">
            <input type="checkbox" class="cursor-pointer" [(ngModel)]="item.fxSelected" (click)="setChecked()" />
          </td>
          <td class="align-middle">
            <app-large-text [value]="item.name"></app-large-text>
          </td>

          <td class="align-middle">
            {{ item.aliases?.join(', ') || '-' }}
          </td>
          <td class="align-middle text-center">{{ item.sophistication }}</td>
          <td class="align-middle text-center">
            <span class="d-flex align-items-center justify-content-center">
              <app-tlp [status]="item.tlp" [interactive]="false"></app-tlp>
            </span>
          </td>
          <td class="align-middle text-center">
            <app-boolean [value]="item.active"></app-boolean>
          </td>
          <td class="align-middle text-center">
            <app-large-text [value]="item.first_seen | date: 'dd/MM/yyyy'"></app-large-text>
          </td>
          <td class="align-middle text-center">
            <app-large-text [value]="item.last_seen | date: 'dd/MM/yyyy'"></app-large-text>
          </td>
        </tr>
      </tbody>
    </app-table>
  </div>
</div>

<div class="float-left mt-3 mb-4">
  <app-pagination-x [page]="page" [count]="count" [pageSize]="limit" (pageChange)="onPageChange($event)">
  </app-pagination-x>
</div>

<ng-template #attackNavigatorModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">ATT&CK® Matrix</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <mitre-attack-navigator [searchQueryParams]="mitreDork" (clickedItem)="modal.dismiss()"></mitre-attack-navigator>
  </div>
</ng-template>

<modal-window
  modalTitle="Advanced Search: Available Dorks"
  dorksThreathContext="dorksThreathContext"
  dorksThreathContextType="actors"
  (changeDork)="setDork($event)"
  *ngIf="openModalDorks"
  [customClass]="'modal-xl'"
  [dorkFields]="dorkFields"
  cancelBtn="Close"
  [closeBtn]="true"
  (cancel)="openModalDorks = false"
>
</modal-window>
