<div class="settings-file-extension card mb-4">
  <div class="card-header border-bottom-0 bg-light px-2 py-1 clearfix">
    <h6 class="title-card text-dark text-uppercase float-left">File Extension Filter</h6>
    <button class="btn btn-circle bg-light ml-1 float-right" #buttonInfo>
      <i class="icon-info-character text-primary"></i>
    </button>
  </div>
  <!-- INFO -->
  <ng-template [appToggleContains]="buttonInfo">
    <div class="alert-info px-2 py-1">
      <span class="font-italic text-90">{{ parameterObject?.parameterTexts?.description }}</span>
    </div>
  </ng-template>
  <!-- LIST -->
  <div class="bg-light p-2">
    <ul class="list-group list-group-flush height-list border rounded">
      <li
        class="list-group-item d-flex justify-content-between align-items-center rounded p-2"
        *ngFor="let value of fileExtensionsObject.checkboxValues"
      >
        <div class="form-check mb-0">
          <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="value.selected"
            [disabled]="grants?.isCustomerOrOperator()"
            (change)="sendStatus(value)"
          />
          <span class="text-dark ml-1" [ngbTooltip]="value.formats" placement="right-top">{{ value.name }}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
