@import 'src/scss/variables';
@import 'src/scss/fonts';

*:focus {
  outline: none;
}

label {
  color: $white;
}

.btn {
  font-family: monospace;
  border-radius: 3px;
  font-weight: 200;
  font-size: 16px;
  padding-left: 35px;
  padding-right: 35px;

  &:hover {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;
  }
}

.btn-blv {
  background-color: #327abd;
  color: $white;

  &:hover {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    background-color: #f15b5f;
    box-shadow: 0 0 0 0.2rem rgba(50, 122, 189, 0.5);
  }
}

.btn-outline-blv {
  background-color: transparent;
  border: 1px solid transparent;
  color: #327abd;

  &:hover {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    background-color: #f6f6f6;
    border: 1px solid #f6f6f6;
    box-shadow: 0 0 0 0.2rem rgba(50, 122, 189, 0.5);
  }
}

.btn-blv-form {
  background-color: $dark;
  color: $white;
  border: $dark;

  &:hover {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    background-color: $dark;
    box-shadow: 0 0 0 0.2rem rgba(50, 122, 189, 0.5);
  }

  .btn-form {
    border: none;
    border-radius: 4px;
    font-size: 16px !important;
    padding-left: 10px;
    font-weight: 200;
    background-color: transparent !important;
    color: white;
  }
}

.text-smaller {
  font-size: smaller;
}

.divider-section {
  border-bottom: 3px solid $dark;
  width: 100px;
  margin: 0 auto;
}

.blueliv-signup {
  font-family: 'Open Sans', sans-serif;

  a {
    text-decoration: none;
    color: $white;
    font-size: 18px;

    &:hover {
      color: $default-light;
    }
  }

  &__header {
    background-color: $white;
    border-bottom: 1px solid $border;
  }

  &__main {
    background-color: $white;
    margin-top: 67px;
  }

  &__section-video {
    margin-top: 100px;
    margin-bottom: 30px;
  }

  &__video-content {
    .desktop-wrapper iframe {
      box-sizing: border-box;
      // background: url('assets/trial-page/displaymac.png') center center no-repeat;
      background-size: contain;
      padding: 3.4% 10.8% 18.6%; /* 11.9% 15.5% 14.8% */
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .desktop-wrapper {
      box-sizing: border-box;
      background: url(/assets/trial-page/trial-desktop-image.jpg) no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: contain;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__text-content {
    .text-link {
      color: $black;
      font-weight: 700;

      &:hover {
        color: $black;
      }
    }
  }

  &__section-info {
    background-color: #f2fdff;

    .media {
      background-color: $white;
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
      min-height: 164px;
    }
  }

  &__section-form {
    background-color: #0092b1;
    height: 100%;

    .form-title {
      color: $white;
    }

    .form-message {
      color: $white;
    }

    .form-group {
      position: relative;
      margin-bottom: 0;
      margin-top: 30px;

      .form-text {
        position: absolute;
        bottom: -25px;
        font-size: 12px;
        color: $white;
        background-color: $black;
        border-radius: 2px;
        padding: 2px 5px;
        float: left;
      }
    }

    .captcha {
      margin-top: 30px;
    }

    .link-form {
      font-weight: 500;
      font-size: 13px;
      color: $white;

      &:hover {
        color: $black;
      }
    }
  }

  &__section-subfooter {
    background-color: $white;
  }

  &__confirmation {
    margin-top: 75px;
  }

  &__footer {
    background-color: $dark;

    &--content-middle {
      .container {
        display: inherit;
      }

      .menu-item {
        font-size: 16px;
        color: $white;
      }

      .submenu-item {
        font-weight: 300;
        font-size: 14px;
        color: $white;
      }

      .icon {
        font-size: 36px;
      }
    }

    &--content-bottom {
      font-weight: 100;

      a {
        font-size: 14px;
      }
    }
  }
}

// .loading {
//   height: 500px;

//   p {
//     margin-top: 140px;
//   }
// }

.loading {
  text-align: center;
  line-height: 100vh;
}

.group {
  position: relative;
  display: inline-block;
  line-height: 16px;
}

.bigSqr {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 44px;
  overflow: hidden;
  transform-origin: bottom left;
  animation: bigSqrShrink 1s linear infinite;
}

.square {
  position: absolute;
  width: 20px;
  height: 20px;
}

.rounded {
  position: absolute;
  width: 20px;
  height: 20px;
}

.first {
  left: 0px;
  top: 24px;
  background-color: #1b2734;
}

.second {
  left: 24px;
  top: 24px;
  animation: drop2 1s linear infinite;
  background-color: #bf594e;
  border-radius: 20px;
}

.third {
  left: 0px;
  top: 0px;
  animation: drop3 1s linear infinite;
  background-color: #d3b719;
  border-radius: 20px;
}

.fourth {
  left: 24px;
  top: 0px;
  animation: drop4 1s linear infinite;
  background-color: #2d6ba5;
  border-radius: 20px;
}

.text {
  line-height: 16px;
  font-weight: 400;
  display: block;
  margin: 10px auto;
  padding: 3px;
}

@keyframes bigSqrShrink {
  0% {
    transform: scale(1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}

@keyframes drop2 {
  0% {
    transform: translateY(-50px);
  }
  25% {
    transform: translate(0);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes drop3 {
  0% {
    transform: translateY(-50px);
  }
  50% {
    transform: translate(0);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes drop4 {
  0% {
    transform: translateY(-50px);
  }
  75% {
    transform: translate(0);
  }
  100% {
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .blueliv-signup__section-info .media {
    min-height: 400px;
  }
}

@media (min-width: 992px) {
  .blueliv-signup__section-info .media {
    min-height: 270px;
  }
}

@media (min-width: 1200px) {
  .blueliv-signup__section-info .media {
    min-height: 225px;
  }
}

@media (min-width: 1600px) {
  .blueliv-signup__section-info .media {
    min-height: 164px;
  }
}
