.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-menu {
  max-height: 320px;
  min-width: 250px;
  padding: 0;
  overflow-y: auto;
  width: 100%;

  .dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem
  }
}

