.btn--active {
  background-color: rgba(50, 122, 189, 0.2);
  border: 1px solid rgba(50, 122, 189, 0.5) !important;
  color: #327abd !important;
}

.dropdown-toggle::after {
  display: none !important;
}

@media (min-width: 1200px) {
  .d-xl-border {
    border: 1px solid #ced4da !important;
  }

  .d-xl-block {
    display: inline !important;
  }
}

.invalid-error {
  max-width: 187px !important;
}

button:disabled {
  opacity: 44%;
  cursor: not-allowed;
}

.btn-danger {
  color: #dc665a;
  background-color: transparent !important;
  border-color: #dc665a;
}

.btn-danger:hover {
  color: #dc665a;
  background-color: #dc364612 !important;
  border-color: #dc665a;
}

.filters-container {
  margin-right: -51px;
  padding-top: 7px;
}
