.truncate-lineal {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.input-group {
  input {
    height: 31px;
    font-size: 14px !important;
  }
}
.details-header {
  i {
    height: 30px;
    width: 30px;
    text-align: center;
    padding-top: 7px;
  }
}

.app-th-date {
  width: 12%;

  @media all and (min-width: 1600px) {
    width: 15%;
  }
}

.app-th-type {
  width: 10%;
}

.app-th-link {
  width: 60px;

  @media all and (min-width: 1600px) {
    width: 80px;
  }
}
