@import 'src/scss/variables';
@import '../settings-detail-generic';

label {
  .custom-control-indicator {
    background-color: $white;
    border: 1px solid $gray;
    width: 14px;
    height: 14px;
  }
  .custom-control-input:checked ~ .custom-control-indicator {
    background-color: $gray;
  }
  .custom-control-description {
    margin-left: 25px;
  }
}

.dropdown-ul-list {
  position: absolute;
  top: 50px;
  z-index: 9;
  width: 230px;
  margin: 0;
  padding: 0;
  transition: height 0.3s;
  overflow: hidden;
  border: none;
  border-radius: $border-radius;
  visibility: hidden;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.13);
  &.right-position {
    visibility: visible;
    border: 1px solid $light;
    right: 0 !important;
  }
  &.left-position {
    visibility: visible;
    border: 1px solid $light;
  }
}

.dropdown-li-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  border-top: 1px solid $light;
  background-color: $white;
  color: $gray;
  font-size: 14px;
  font-weight: $font-weight-thin;
  height: 42px;
  padding: 0 10px;
  cursor: pointer;

  .check {
    float: right;
    display: none;
    font-size: 16px;
  }
  &:first-child {
    color: $light;
    background-color: $white;
    border-top: none;
  }
  &:hover:not(:first-child) {
    background-color: $bg-blueliv;
    color: $gray;
  }
  &.active {
    background-color: $bg-blueliv;
    color: $gray;
    .check {
      display: block;
    }
  }
}

table {
  tbody {
    td {
      cursor: pointer;
      i {
        font-size: 16px;
      }
    }
  }
}
.main-list {
  min-height: calc(100vh - 300px);
}

.search-input {
  height: 31px;
}
