@import 'src/scss/variables';

.list-group-item {
  img {
    width: 18px;
    margin-top: 5px;
  }
}
.list-group-item:hover {
  cursor: pointer;
  background-color: $light;
  h6 {
    color: $primary;
  }
  i {
    color: $primary;
  }
}
.list-group-item.selected {
  background-color: $light;
  h6 {
    color: $primary;
  }
  i {
    color: $primary;
  }
}
.error {
  color: $danger;
}

.loading-container {
  min-height: 70vh;
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #00b18f;
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgba(0, 177, 142, 0.5215686275);
}

::ng-deep .mat-slide-toggle.mat-disabled {
  opacity: 1 !important;
}

.conditions-text {
  font-size: 10px;
}

.btn-disabled {
  opacity: 50%;
  cursor: not-allowed;
}
