<app-overlay [loading]="loading">
  <threat-context-navigation [path]="path" [name]="name"></threat-context-navigation>
  <div style="min-height: 650px">
    <h6 class="text-muted text-uppercase text-90 font-weight-bold mb-0 tcx-section-name">Signature</h6>
    <div class="mb-2" style="display: flex; justify-content: space-between; align-items: center">
      <h4 class="mt-2 text-truncate tcx-resource-name">{{ name }}</h4>
      <div style="display: flex">
        <div class="button-action mr-1" ngbDropdown>
          <button
            ngbDropdownToggle
            class="btn btn-light btn-sm border text-primary width-85 float-left btn-actions"
            type="button"
            id="actionsButtonDropdown"
            name="button"
          >
            Export
          </button>
          <div ngbDropdownMenu class="actions-dropdown-menu padding-0 border-0">
            <ul aria-labelledby="actionsButtonDropdown" class="list-group actions-menu shadow border rounded font-14">
              <li
                class="list-group-item list-group-item-action cursor-pointer border-0 px-3 py-2"
                (click)="exportToCSV()"
              >
                <i class="icon-share-square mr-2"></i>
                <span>CSV</span>
              </li>
              <li
                class="list-group-item list-group-item-action cursor-pointer border-0 px-3 py-2"
                (click)="exportToJson()"
              >
                <i class="icon-share-square mr-2"></i>
                <span>JSON</span>
              </li>
            </ul>
          </div>
        </div>

        <button type="button" class="btn btn-light btn-sm border text-primary width-85" (click)="backToList()">
          Back to list
        </button>
      </div>
    </div>

    <div class="card p-0 mb-4">
      <div class="flex">
        <div class="col-auto">
          <img class="img-fluid" src="/assets/img/signature.png" alt="Target" width="130" />
        </div>

        <div class="col-lg">
          <app-flush-list [data]="entries" mode="bold"></app-flush-list>
        </div>

        <div class="col-lg">
          <app-flush-list [data]="entries2" mode="bold"></app-flush-list>
        </div>
      </div>
    </div>

    <app-tabs [items]="tabs" [active]="activeTab" (onChange)="onTabChange($event)">
      <app-signature-description
        *ngIf="activeTab === signaturesTabs.DESCRIPTION && description"
        [model]="description"
      ></app-signature-description>

      <actors-list
        [style.display]="activeTab === signaturesTabs.ACTORS ? 'block' : 'none'"
        *ngIf="item && canStartToLoadActors"
        [source]="actorsListSource"
      ></actors-list>

      <attack-patterns
        [style.display]="activeTab === signaturesTabs.ATTACK_PATTERN ? 'block' : 'none'"
        *ngIf="item && canStartToLoadAttackPatterns"
        [source]="attackPatternsSource"
      ></attack-patterns>

      <tools-list
        [style.display]="activeTab === signaturesTabs.TOOL ? 'block' : 'none'"
        *ngIf="item && canStartToLoadTools"
        [source]="toolsListSource"
      ></tools-list>

      <campaigns-list
        [style.display]="activeTab === signaturesTabs.CAMPAIGN ? 'block' : 'none'"
        *ngIf="item && canStartToLoadCampaigns"
        [source]="campaingsListSource"
      ></campaigns-list>

      <cve-list
        [style.display]="activeTab === signaturesTabs.CVE ? 'block' : 'none'"
        *ngIf="item && canStartToLoadCVE"
        [source]="cveListSource"
      ></cve-list>
    </app-tabs>
  </div>
</app-overlay>
