.datepicker-container {
  width: fit-content;
  &::ng-deep {
    .cdk-overlay-container {
      z-index: 2000 !important;
    }

    .mat-form-field-flex {
      display: flex !important;
      align-items: center !important;
    }

    .mat-date-range-input-inner[disabled] {
      color: rgba(0, 0, 0, 0.7);
      opacity: 1;
    }

    .mat-form-field {
      font-family: inherit !important;
    }

    .mat-form-field-infix {
      border-top: 0 !important;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }

    .mat-form-field.mat-focused .mat-form-field-label {
      display: none !important;
    }

    .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
      display: none !important;
    }

    .mat-form-field-label-wrapper {
      top: -12px !important;
    }

    .mat-form-field-appearance-fill .mat-form-field-flex {
      padding: 0 0 0 8px !important;
      background-color: transparent !important;
      border: 1px solid #ced4da !important;
      border-radius: 4px !important;
      height: 30.7px;
    }

    .mat-form-field-appearance-fill .mat-form-field-underline::before {
      display: none !important;
    }

    .mat-form-field-appearance-fill .mat-form-field-infix {
      padding: 7px 0 0 0 !important;
    }

    .mat-form-field-type-mat-date-range-input .mat-form-field-infix {
      padding: 0 5px 0 0 !important;
      width: 180px !important;
    }

    .mat-form-field-underline {
      display: none !important;
    }

    .mat-datepicker-actions {
      justify-content: space-between !important;
    }

    .mat-date-range-input-start-wrapper .mat-date-range-input-inner {
      position: relative !important;
    }

    .mat-date-range-input-mirror {
      display: none !important;
    }

    .mat-date-range-input-start-wrapper {
      text-align: center !important;
    }

    .mat-date-range-input-end-wrapper {
      text-align: center !important;
    }

    .mat-date-range-input-inner {
      font-size: 14px !important;

      &:hover {
        box-shadow: none !important;
      }
    }

    .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button,
    .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
      width: 30px !important;
      height: 30px !important;
    }

    .mat-flat-button.mat-primary,
    .mat-raised-button.mat-primary,
    .mat-fab.mat-primary,
    .mat-mini-fab.mat-primary {
      background-color: var(--ctip-primary) !important;
    }

    .mat-datepicker-toggle-active {
      color: var(--ctip-primary) !important;
    }

    .mat-calendar-body-selected {
      background-color: var(--ctip-primary) !important;
    }
  }
}
