@import 'src/scss/variables';
@import '../generic-parameter/generic-parameter.component.scss';

// GENERAL
*:focus {
  outline: none !important;
}
.form-group {
  input {
    height: 31px;
  }
}
.carbon-fix {
  line-height: 20px;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 70%;
}
.actions-buton-list {
  width: 70px;
}
//HEIGHT & SCROLLBAR
.height-list {
  max-height: 300px;
  overflow-y: scroll !important;
}
.height-list::-webkit-scrollbar-track {
  background-color: $white;
}
.height-list::-webkit-scrollbar {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  width: 2px !important;
}
.height-list::-webkit-scrollbar-thumb {
  background-color: #084951;
  outline: 1px solid black;
}

.dropdown-bincodes-list {
  padding-top: 57px;
  margin-left: -75px;
}

.add-bank-btn {
  margin-top: -8px;
  margin-left: 10px;
}

.box-header {
  display: flex;
  justify-content: space-between;
}

// DROPDOWN
.dropdown-list {
  position: relative;
  z-index: 1000;
  .list-group {
    position: absolute;
    visibility: hidden;
    &.open {
      visibility: visible;
      top: 32px;
      left: 75px;
      width: 300px;
      max-height: 200px;
      overflow: auto !important;
    }
    .list-group-item {
      &:hover {
        color: $primary;
      }
      &.active {
        background-color: $light;
        color: $primary;
      }
    }
  }
}
// INPUT-GROUP
.input-group {
  input {
    height: 31px;
  }
}
// DROPDOWN
.show {
  display: block;
}
.hide {
  display: none;
}
.dropdown-menu {
  position: relative;
  display: block !important;
  .list-group {
    position: absolute;
    height: 300px;
    width: 400px;
    top: 0;
    overflow: auto;
    .list-group-item:hover {
      color: $primary;
    }
  }
}
.dropdown-menu-bincodes.show {
  display: block !important;
  max-height: 300px;
  width: 300px;
  overflow: auto;
  top: 30px;
  left: 126px;
  font-size: 14px;
  box-shadow: $shadow-big;
  .header-bincode {
    border-bottom: 1px solid $light;
    padding-bottom: 10px;
    input {
      border: 1px solid $light;
      border-radius: 2px;
      margin-bottom: 10px;
      color: #8c8c8c;
      height: 27px;
      width: 220px;
      padding-left: 8px;
      &:hover {
        box-shadow: $shadow-small;
      }
    }
  }
}
// MODAL
.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: auto !important;
  .modal {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 15%;
    max-width: 350px;
    overflow: visible;
    .content-list {
      max-height: 300px;
      overflow-y: auto;
      .active {
        color: $primary;
      }
    }

    .loading-list {
      min-height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .bank-name,
    .add-bincode {
      padding: 15px;
    }

    .bank-name {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      i {
        cursor: pointer;
      }
    }
  }
}

.alert-bin {
  width: 195px;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  padding: 7px;
  height: 34px;
  margin-bottom: 3px;
  border-radius: 4px;

  i {
    margin-right: 5px;
    margin-top: 2px;
    color: $danger;
  }
  p {
    margin-top: 2px;
    color: $danger;
  }
}

.block-error {
  position: absolute;
  top: -7px;
  z-index: 900;
  left: 309px;

  i {
    font-size: 16px;
  }
}

.add-bank-icon {
  margin-right: 4px;
}
