@import "src/scss/variables";

// PANEL
.panel{
  font-family:'Open Sans', sans-serif;
  font-weight:200px;
  padding:15px !important;
  overflow: auto;
}

.main-list{
  max-height: 350px;
//   overflow: auto;
}

.image{
  width: 100%;
}

.disabled-btn {
  cursor: not-allowed !important;
  opacity: 50%;
}
