.info-text {
  font-size: 20px;
  margin-top: 22px;
}

.irrelevant-result-msg {
  color: #856404;
  background-color: #fff3cd8f;
  border-color: #ffeeba;
  padding: 8px 12px;
  width: max-content;
  font-size: 14px;
  margin: auto;
}

.no-results-box {
  width: 70%;
}
